<nav>
    <ul>
        <li><a asp-page="/Index" asp-route-pageNumber=""><i class="fas fa-home"></i> Domů</a></li>
        <li><a asp-page="/Questions" asp-route-pageNumber=""><i class="fas fa-question"></i> Otázky</a></li>
        <li><a asp-page="/Contact"><i class="fas fa-envelope"></i> Kontakt</a></li>
    </ul>
</nav>