<nav>
    <ul>
        <li><a asp-page="/Index"><i class="fas fa-home"></i> Domů</a></li>
        <li><a asp-page="/Questions"><i class="fas fa-question"></i> Otázky</a></li>
        <li><a asp-page="/Contact"><i class="fas fa-envelope"></i> Kontakt</a></li>
    </ul>
</nav>