<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@(string.IsNullOrWhiteSpace(ViewBag.Title) ? "ASKme" : ViewBag.Title + " | ASKme")</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css"
          integrity="sha256-HxaKz5E/eBbvhGMNwhWRPrAR9i/lG1JeT4mD6hCQ7s4=" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <environment include="Development">
        <link rel="stylesheet" type="text/css" href="~/Styles/askme.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" type="text/css" href="~/Styles/askme.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <header>
        <h1>ASKme</h1>
        <div>zeptej se mě na co chceš, já na co chci odpovím</div>
    </header>
    <nav>
        <ul>
            <li><a href="#"><i class="fa fa-home"></i> Domů</a></li>
            <li><a href="#"><i class="fa fa-question"></i> Otázky</a></li>
            <li><a href="#"><i class="fa fa-envelope"></i> Kontakt</a></li>
        </ul>
    </nav>
    <main>
        @RenderBody()
    </main>
    <footer>
        <div>Copyright &copy; <a href="https://www.altairis.cz/">Altairis</a>, 2017</div>
    </footer>
</body>
</html>
