@page "{pageNumber:int:min(1)?}"
@model QuestionsModel

<section class="form">
    <form method="post">
        <header>
            <h2>Nová otázka</h2>
        </header>
        <div><textarea asp-for="Input.QuestionText" placeholder="Zadejte text své otázky..."></textarea></div>
        <div>
            <select asp-for="Input.CategoryId" asp-items="Model.Categories"></select>
        </div>
        <div>
            <input asp-for="Input.DisplayName" placeholder="Jméno (nepovinné)" class="half-width" />
            <input asp-for="Input.EmailAddress" placeholder="E-mail (nepovinné)" class="half-width" />
        </div>
        <div asp-validation-summary="All"></div>
        <footer>
            <input type="submit" value="Odeslat" />
        </footer>
    </form>
</section>
@if (Model.Paging.TotalRecords > 0) {
    <h2>Nezodpovězené otázky</h2>
    @foreach (var item in Model.Data) {
        var id = $"q_{item.Id}";
        <article class="question" id="@id">
            <span class="fa-stack fa-2x fa-pull-left">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa fa-question fa-stack-1x"></i>
            </span>
            <plainText text="@item.QuestionText" html-encode="true"></plainText>
            <footer>
                <i class="fa fa-clock-o"></i> <time value="@item.DateCreated"></time>
                @if(!string.IsNullOrWhiteSpace(item.DisplayName)) {
                    <span><i class="fa fa-user"></i> @item.DisplayName</span>
                }
            </footer>
        </article>
    }

    <vc:pager model="Model.Paging"></vc:pager>
}