@inherits LayoutComponentBase

<header>
	<h1>ASKme</h1>
	<div>zeptej se mě na co chceš, já na co chci odpovím</div>
</header>
<NavMenu />
<main>
	@Body
</main>
<footer>
	<ul>
		<li>Copyright &copy; <a href="https://www.altairis.cz/">Altairis</a>, 2017-@DateTime.Today.Year</li>
		<li>Using Blazor, ported by Robert Haken, <a href="https://www.havit.cz/">HAVIT</a></li>
		<li><a href="/feed.rss"><i class="fas fa-rss"></i> RSS</a></li>
		<AuthorizeView>
			<NotAuthorized>
				<li><a href="account/login">&pi;</a></li>
			</NotAuthorized>
		</AuthorizeView>
	</ul>
</footer>