<nav>
	<ul>
		<li><a href=""><i class="fas fa-home"></i> Domů</a></li>
		<li><a href="questions"><i class="fas fa-question"></i> Otázky</a></li>
		<li><a href="contact"><i class="fas fa-envelope"></i> Kontakt</a></li>
		<li><a href="counter"><i class="fas fa-bookmark"></i> COUNTER</a></li>
		<li><a href="fetchdata"><i class="fas fa-bookmark"></i> FETCH DATA</a></li>
	</ul>
</nav>