<nav>
	<ul>
		<AuthorizeView>
			<Authorized>
				<li><NavLink href="" Match="NavLinkMatch.All"><i class="fas fa-home"></i> Domů</NavLink></li>
				<li><NavLink href="questions"><i class="fas fa-question"></i> Otázky</NavLink></li>
				<li><NavLink href="contact"><i class="fas fa-envelope"></i> Kontakt</NavLink></li>
				<li><NavLink href="demos" Match="NavLinkMatch.Prefix"><i class="fas fa-blind"></i> Blazor Dema</NavLink></li>
				<li><NavLink href="/account/logout"><i class="fas fa-sign-out-alt"></i> Odhlášení</NavLink></li>
			</Authorized>
			<NotAuthorized>
				<li><NavLink href="" Match="NavLinkMatch.All"><i class="fas fa-home"></i> Domů</NavLink></li>
				<li><NavLink href="questions"><i class="fas fa-question"></i> Otázky</NavLink></li>
				<li><NavLink href="contact"><i class="fas fa-envelope"></i> Kontakt</NavLink></li>
				<li><NavLink href="demos" Match="NavLinkMatch.Prefix"><i class="fas fa-blind"></i> Blazor Dema</NavLink></li>
			</NotAuthorized>
		</AuthorizeView>
	</ul>
</nav>