<nav>
	<ul>
		<li><NavLink href="demos/counter"><i class="fas fa-donate"></i> Counter</NavLink></li>
		<li><NavLink href="demos/fetchdata"><i class="fas fa-umbrella"></i> Fetch data</NavLink></li>
	</ul>
</nav>