<nav>
    <ul>
        <li><a asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i> Domů</a></li>
        <li><a asp-controller="Home" asp-action="Questions"><i class="fas fa-question"></i> Otázky</a></li>
        <li><a asp-controller="Home" asp-action="Contact"><i class="fas fa-envelope"></i> Kontakt</a></li>
    </ul>
</nav>