<nav>
    <ul>
        <li><a asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i> Domů</a></li>
        <li><a asp-controller="Home" asp-action="Questions"><i class="fas fa-question"></i> Otázky</a></li>
        <li><a asp-controller="Admin" asp-action="ChangePassword"><i class="fas fa-key"></i> Změna hesla</a></li>
        <li><a asp-controller="Account" asp-action="Logout"><i class="fas fa-sign-out-alt"></i> Odhlášení</a></li>
    </ul>
</nav>