@page "/admin/changepassword"
@inherits ChangePasswordBase
@{ Title = "Změna hesla"; }

<section class="form">
	<header>
		<h2>Změna hesla</h2>
	</header>
	<EditForm Model="InputModel" OnValidSubmit="HandleValidSubmit">
		<DataAnnotationsValidator />
		<ServerSideValidator @ref="ServerSideValidator" />
		<div><InputText @bind-Value="InputModel.OldPassword" type="password" placeholder="Stávající heslo" /></div>
		<div>
			<InputText @bind-Value="InputModel.NewPassword" type="password" placeholder="Nové heslo" class="half-width" />
			<InputText @bind-Value="InputModel.ConfirmPassword" type="password" placeholder="Nové heslo znovu" class="half-width" />
		</div>
		<ValidationSummary />
		<footer><input type="submit" value="Odeslat" /></footer>
	</EditForm>
</section>