@model Models.Admin.ChangePasswordModel
@{ this.ViewBag.Title = "Změna hesla"; }

<section class="form">
    <header>
        <h2>Změna hesla</h2>
    </header>
    <form method="post">
        <div><input asp-for="@Model.OldPassword" placeholder="Stávající heslo" /></div>
        <div>
            <input asp-for="@Model.NewPassword" placeholder="Nové heslo" class="half-width" />
            <input asp-for="@Model.ConfirmPassword" placeholder="Nové heslo znovu" class="half-width" />
        </div>
        <div asp-validation-summary="All"></div>
        <footer><input type="submit" value="Odeslat" /></footer>
    </form>
</section>