@model Altairis.AskMe.Web.Mvc.Models.Admin.DeleteQuestionModel
@{
    this.ViewBag.Title = "Smazání otázky";
}
<h2>Smazání otázky</h2>
<article class="question">
    <form method="post">
        <div>
            <plainText text="@Model.QuestionText"></plainText>
        </div>
        <footer>
            <input type="submit" value="Smazat" class="button" />
            <input type="button" value="Storno" class="button" onclick="history.back(-1)" />
        </footer>
    </form>
</article>