app {
	> main nav {
		background-color: lighten($accent2, 10);
		color: $white;
		font-size: 125%;

		a {
			&:link, &:visited {
				color: $white;
				text-decoration: none;
			}

			&:hover {
				color: $black;
			}

			&.active {
				color: $black;
				text-decoration: none;
			}
		}

		ul {
			margin: 0;
			padding: 0;

			li {
				display: inline-block;
				list-style-type: none;
				margin: 0;
				padding: $padding/2 $padding;
			}
		}
	}

	nav {
		a {
			&.active {
				color: $black;
				text-decoration: none;
			}
		}
	}
}
