html {
  font-family: Arial, Helvetica, sans-serif;
  color: #eee;
  background-color: #333;
  background-image: url(Images/background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover; }

body {
  max-width: 1000px;
  margin: 0 auto; }
  body > header {
    background-color: #EB6B02;
    padding: 1em;
    margin-bottom: 0.5em;
    letter-spacing: .5ex; }
    body > header div {
      color: rgba(238, 238, 238, 0.5);
      font-size: 90%;
      font-weight: bold;
      text-align: right; }
  body > nav {
    background-color: #018D8D;
    color: #eee;
    font-size: 125%; }
    body > nav a:link, body > nav a:visited {
      color: #eee;
      text-decoration: none; }
    body > nav a:hover {
      color: #333; }
    body > nav ul {
      margin: 0;
      padding: 0; }
      body > nav ul li {
        display: inline-block;
        list-style-type: none;
        margin: 0;
        padding: 0.5em 1em; }
  body > main {
    background-color: #eee;
    color: #333;
    padding: 3em;
    border-bottom: 0.33333em solid #333; }
    body > main a:link {
      color: #333; }
    body > main a:visited {
      color: #0d0d0d; }
    body > main a:hover {
      color: #333; }
  body > footer {
    text-align: center;
    font-size: 80%;
    padding: 1em;
    letter-spacing: .5ex; }

a:link, a:visited {
  color: #eee;
  text-decoration: none; }

a:hover {
  color: #EB6B02;
  text-decoration: none; }

section.form {
  border: 1px solid #333;
  border-radius: 0.33333em; }
  section.form header {
    border-radius: 0.33333em 0.33333em 0 0;
    border: 1px solid #333;
    padding: 1em;
    background-color: rgba(1, 141, 141, 0.25);
    color: #018D8D; }
    section.form header h2 {
      margin: 0;
      padding: 0; }
  section.form .validation-summary-valid {
    display: none; }
  section.form .validation-summary-errors {
    clear: both;
    border: 1px solid #333;
    background-color: rgba(235, 107, 2, 0.25); }
  section.form footer {
    clear: both;
    border: 1px solid #333;
    background-color: rgba(235, 107, 2, 0.75);
    text-align: right;
    border-radius: 0 0 0.33333em 0.33333em; }
    section.form footer input[type=submit] {
      background-color: #EB6B02;
      color: #eee;
      border: none;
      border-radius: 0 0 0.33333em 0;
      padding: 0.5em 3em;
      min-width: 25%;
      font-weight: bold; }

form input[type=text], form input[type=password], form input[type=email], form textarea, form select {
  box-sizing: border-box;
  width: 100%;
  padding: 0.5em;
  margin: 0;
  border: 1px solid #333;
  display: block; }
  form input[type=text].half-width, form input[type=password].half-width, form input[type=email].half-width, form textarea.half-width, form select.half-width {
    float: left;
    width: 50%; }

form .field {
  clear: both;
  padding: 0.5em;
  margin: 0;
  border: 1px solid #333;
  background-color: #fff; }
  form .field input[type=checkbox] {
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle; }

form textarea {
  height: 150px; }

form ::-webkit-input-placeholder {
  color: #018D8D; }

form ::-moz-placeholder {
  color: #018D8D; }

form :-ms-input-placeholder {
  color: #018D8D; }

form :-moz-placeholder {
  color: #018D8D; }

a.button {
  padding: 0.5em 1em;
  border-radius: 0.33333em;
  text-decoration: none;
  display: inline-block; }
  a.button:link {
    background-color: #018D8D;
    color: #eee; }
  a.button:visited {
    background-color: #015a5a;
    color: #eee; }
  a.button:hover {
    background-color: #EB6B02;
    color: #eee; }

.pager {
  margin-top: 1em;
  color: #018D8D; }
  .pager p {
    font-size: 80%;
    text-align: center;
    margin: 0;
    padding: 0.5em; }
  .pager .prev {
    float: left; }
  .pager .next {
    float: right; }

article.question {
  border: 1px solid #018D8D;
  border-radius: 0.33333em;
  padding: 1em;
  margin-bottom: 1em;
  background-color: rgba(1, 141, 141, 0.05); }
  article.question header {
    color: #018D8D;
    border-bottom: rgba(1, 141, 141, 0.2) 1px solid; }
    article.question header .info {
      float: right; }

article.answer {
  border: 1px solid #018D8D;
  border-radius: 0.33333em;
  margin-bottom: 1em; }
  article.answer section.question {
    padding: 1em;
    background-color: rgba(1, 141, 141, 0.05); }
    article.answer section.question header {
      color: #018D8D;
      border-bottom: rgba(1, 141, 141, 0.2) 1px solid; }
      article.answer section.question header .info {
        float: right; }
  article.answer section.answer {
    padding: 1em;
    background-color: rgba(235, 107, 2, 0.05); }
    article.answer section.answer header {
      color: #EB6B02;
      border-bottom: rgba(235, 107, 2, 0.2) 1px solid; }
      article.answer section.answer header .info {
        float: right; }

