@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment Environment
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@(string.IsNullOrWhiteSpace(ViewBag.Title) ? "ASKme" : ViewBag.Title + " | ASKme")</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
          integrity="sha256-l85OmPOjvil/SOvVt3HnSSjzF1TUMyT9eV0c2BzEGzU=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
          integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous" />
    <link rel="alternate" type="application/rss+xml" title="RSS" href="@Url.RouteUrl("RssFeed")" />
    <environment include="Development">
        <link rel="stylesheet" type="text/css" href="~/Styles/askme.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" type="text/css" href="~/Styles/askme.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <header>
        <h1>ASKme</h1>
        <div>zeptej se mě na co chceš, já na co chci odpovím</div>
    </header>
    <vc:menu></vc:menu>
    <main>
        @RenderBody()
    </main>
    <footer>
        <ul>
            <li>Copyright &copy; <a href="https://www.altairis.cz/">Altairis</a>, 2017-@DateTime.Today.Year</li>
            <li title="@Environment.EnvironmentName environment">Using ASP.NET Razor Pages</li>
            <li><a asp-route="RssFeed"><i class="fas fa-rss"></i> RSS</a></li>
            <li for-login-status="false"><a asp-page="Account/Login">&pi;</a></li>
        </ul>
    </footer>
</body>
</html>
