@page
@{ this.ViewBag.Title = "Kontakt"; }

<h2><i class="fas fa-envelope"></i> Kontakt</h2>
<p>Toto je ukázová aplikace pro technologii ASP.NET Core Razor Pages. Využívá zejména:</p>
<ul>
    <li>ASP.NET Core</li>
    <li>ASP.NET Razor Pages</li>
    <li>Entity Framework Core</li>
    <li>SQLite</li>
    <li>ASP.NET Identity</li>
</ul>

<h3><i class="fas fa-user"></i> Autor</h3>
<p>Autorem je Michal A. Valášek - Altairis, s. r. o.</p>
<ul>
    <li><a href="https://www.rider.cz/">www.rider.cz</a></li>
    <li><a href="https://www.altair.blog/">www.altair.blog</a></li>
    <li><a href="https://www.altairis.cz/">www.altairis.cz</a></li>
</ul>

<h3><i class="fas fa-cog"></i> Projekt</h3>
<p>Tento projekt je open source. Další informace najdete na <a href="https://github.com/ridercz/AskMe">GitHubu</a>.</p>