@page "/error/500"
@inherits PageBase
@{ this.Title = "HTTP Error 500: Vnitřní chyba serveru"; }

<h2>HTTP Error 500: Vnitřní chyba serveru</h2>
<p>Při zpracování vašeho požadavku došlo k nečekané chybě.</p>